:root {
  --background-color: #dfe6e6;
  --container-background: #e4f1ef;
  --text-color: #2e3440;
  --border-color: #b0c4c4;
  --letters-color: #2e3440;
  --hover-effect: #8abbb3;
  --clicked-buttonBg: #a8d4cc;
  --clicked-buttonText: #20302e;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 97vh;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: 2px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--container-background);
}

button:hover {
  cursor: pointer;
  color: var(--container-background);
  background-color: var(--text-color);
}

.selected {
  background-color: var(--clicked-buttonBg);
  color: var(--clicked-buttonText);
}

.hover:hover {
  color: var(--hover-effect);
}

#hero {
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.keyzen-logo {
  width: 75px;
  height: auto;
  display: inline;
}

#amount-of-words {
  text-align: center;
}

.letter {
  display: inline;
  font-size: 36px;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  color: var(--letters-color);
}

#letters-container {
  background-color: var(--container-background);
  border: 2px solid var(--border-color);
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 40px;
}

#type-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accuracy {
  font-size: 20px;
  font-family: sans-serif;
  display: none;
}

#reset-container {
  text-align: center;
  width: 100%;
}

#reset {
  font-size: 28px;
  display: inline;
}

#reset:hover {
  cursor: pointer;
}

/*? Themes */
footer {
  width: 100%;
}

#change-theme {
  width: 14%;
}

#change-theme:hover,
.theme:hover,
.theme-choice:hover,
.show-themes {
  cursor: pointer;
}

#light-mode,
#dark-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.light-themes,
.dark-themes {
  text-align: left;
}

.light-themes,
.dark-themes,
#light-mode,
#dark-mode {
  display: none;
}